.App{
  width: 100%;
  height:100vh;
}
.application-room{
  width: 100%;
  height: 100vh;
  background-color: var(--color--secondary);
}
.room-body{
  width: 100%;
  height: 90vh;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap:1.75rem;
  padding-top: 15px;
}
.user-tile{
  background-color: rgba(78, 78, 78, 0.233);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-tile video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg);
  border-radius:inherit;
}
.people__avatar{
  width: 115px;
  height:115px;

}
.people__avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.homepage{
  width: 100%;
  height: 100vh;
}
header{
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items:center;
  justify-content:space-between;
  height:65px;
}
.brandname{
  flex: 1;
}
.brandname a{
  font-size: 20px;
  color: var(--color-primary);
  text-decoration: none;
  font-family: sans-serif;
}
nav{
  flex: 1;
  display: flex;
  align-items:center;
  justify-content: flex-end;
  gap:25px;
  position: relative;
}
.account_dropdown{
width:250px;
top:50px;
position:absolute;
box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.115);
padding-left: 10px;
padding-right: 10px;
display: flex;
flex-direction:column;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 5px;
align-items:flex-start;
border: 1px solid rgb(207, 207, 207);
z-index: 999;
}
.account_dropdown::before{
  position:absolute;
  content:"";
  width: 20px;
  right:10px;
  top:-11px;
  height: 20px;
  transform:rotate(45deg);
  background-color:#fff;
  border-top: 1px solid rgb(207, 207, 207);
  border-left: 1px solid rgb(207, 207, 207);
}
.account_dropdown h3{
  color:var(--color-primary);
  font-family: sans-serif;
}
.account_dropdown p{
color: #999;
font-family: sans-serif;
font-size: 14px;
line-height:25px;
}
.logout_btn{
  width: 100%;
  height:25px;
}
.time_home{
  font-weight: 400;
  color: rgb(87, 87, 87);
  font-size: 20px;
  font-family: sans-serif;
}
.nav__controls button{
  width: 45px;
  height: 45px;
  background-color: transparent;
  border: 0;
  outline:0;
  cursor: pointer;
}
.nav__controls button svg{
  width: 20px;
  height: 20px;
}
.landing{
  width: 100%;
  display: flex;
  align-items: center;
  height:65vh;
}
.hero__left{
  flex: 1;
  padding-left: 25px;
  flex-direction:column;
  gap:25px;
}
.hero__heading{
  margin-bottom: 15px;
}
.hero__heading h1{
  font-size: 2.5rem;
  font-weight: 500;
  font-family: sans-serif;
}
.hero__left p{
  font-size: 18px;
  margin-bottom: 35px;
  color: #999;
  font-family: sans-serif;
}
.hero__right{
  flex: 1;
  position: relative;
  height:55vh;
}
.hero__right img{
  width: 75%;
  height:55%;
  position:absolute;
  right:0px;
  top:45px;
}
.hero__meeting__form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}
.hero__meeting__form > button{
  background-color:var(--color-primary);
  padding: 12px;
  color: #fff;
  
  border: 0;
  height:45px;
transition:all .2s ease-in-out;
cursor: pointer;
display:flex;
align-items: center;
position: relative;
}
.button_popover{
  width:250px;
  position: absolute;
  background-color:#fff;
  left: 0;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.115);
  padding-top:15px;
  padding-bottom: 15px;
  top: 0px;
  z-index: 999;
  border-radius:3px;
  
}
.button_popover button{
  width: 100%;
  height:45px;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  border-radius: 1px;
}
.button_popover button:hover{
 
  background-color: var(--color-primary);
  color: #fff;

}
.button_popover button> svg{
  margin-left: 10px;
}
.hero__meeting__form > button:hover{
  box-shadow: 10px 0px 10px 0 rgba(0,0,0,0.115);
}
.hero__meeting__form button svg{
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.hero__meeting__form input{
  width: 35%;
  padding-left: 10px;
  outline:0;
  border-radius: 5px;
  background-color:transparent;
  border: 1px solid #999;
}
.hero__meeting__form input:focus{
  border:2px solid var(--color-primary);
}

.google_login_auth{
  
  width:250px;
  height:45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid #999;
  background-color:transparent;
  border-radius:5px;
  font-size: 16px;
  gap:15px;
  cursor: pointer;
}
.google_login_auth:hover{
  box-shadow:0px 0px 10px 0 rgba(0,0,0,0.115);
}

.end-meeting{
  width:100%;
  height:100vh;
}
.meeting-end-container{
  padding-top:100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.end-meeting-wrapper{
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  
}
.end-meeting-heading{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
font-size: 36px;
font-weight: 400;
line-height: 44px;
color: #3c4043;
cursor: default;
max-width: 700px;
margin-bottom: 25px;
}
.end-meeting-buttons{
  width:100%;
  display: flex;
  align-items: center;
  gap:15px;
}
.end-meeting-buttons button{
  flex: 1;
  height: 45px;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;

}
.end-meeting-buttons button:nth-child(1){
  color: var(--color-primary);
  border: 1px solid rgb(202, 202, 202);
}
.end-meeting-buttons button:nth-child(2){
  background-color: var(--color-primary);
  border: 0;
  outline:0;
  color: #fff;
}
.meeting-feedback{
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meeting-feedback button{
  width: 120px;
  height:35px;
  color: var(--color-primary);
  border: 0;
  outline:0;
  background-color:transparent;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
}
.meeting-feedback button:hover{
 
  background-color: #7c4dff34;
 
}


@media screen and (max-width:846px){
  .nav__controls{
    display: none;
  }
  .landing{
    width: 100%;
  display: block;
  align-items: center;
  height:75vh;
  }
}
@media screen and (max-width:515px){
  .time_home{
    display: none;
  }
  
  .hero__meeting__form > button
  {

   flex: 1;
  }
  .hero__meeting__form input{
    flex: 1;
    padding-left: 10px;
    outline:0;
    border-radius: 5px;
    background-color:transparent;
    border: 1px solid #999;
    
  }
  .hero__left{
    padding-left: 5;
    padding-right: 5;
  }
  .hero__right img{
    width: 100%;
    height:55%;
    position:absolute;
    right:0px;
    top:45px;
  }
  
}


@media screen and (max-width:465px) {
  .room-body{
    display: flex;
    flex-direction: column;
   padding-top: 65px;
  }
  .user-tile{
    width: 90%;
    margin: 0 auto;
    height:350px;
  }
  .end-meeting-heading{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 20px;
  
  }

  .end-meeting-wrapper{
    
    width: 100%;
  }

  
}

@media screen and (max-width:320px){
  end-meeting-buttons{
    width:90%;
    display: flex;
    align-items: center;
   justify-content:space-around;
  }
  .end-meeting-buttons button{
    width: 80px;


    height: 45px;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    font-size: 12px;
  
  }
}